@media (min-width: 1400px) {
  #page1 {
    width: 600px;
    height: 849px;
    padding-bottom: 3px;
    margin-left: 20px;
  }
}

@media (min-width: 1400px) {
  #page2 {
    display: block;
    width: 600px;
    left: 0;
    margin-left: 649px;
    overflow-y: scroll;
  }
}

