.photo-gallery {
  color: #313437;
  background-color: #fff;
}

.photo-gallery p {
  color: #7d8285;
}

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom: 0;
}

.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}

.countdown-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.countdown-amount {
  font-weight: bold;
  /*font-size: 48px;*/
}

.countdown-period {
  font-size: 24px;
}

.countdown-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  position: relative;
}

.countdown-amount {
  font-weight: bold;
  /*font-size: 48px;*/
  position: relative;
  z-index: 2;
}

.countdown-period {
  font-size: 24px;
  position: absolute;
  bottom: -20px;
  z-index: 1;
}

#countdown-container {
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4px;
  font-family: 'Aldrich';
  margin-top: 2px;
}

.countdown-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.countdown-amount {
  font-weight: bold;
  font-size: 20px;
}

.countdown-period {
  font-size: 11px;
  position: flex;
}

#countdown-container.show {
  opacity: 1;
}

