.d-flex.float-left.m-auto.m-sm-auto {
}

@media (min-width: 300px) {
  .d-flex.float-left.m-auto.m-sm-auto {
    color: rgb(252,252,252);
    font-family: Aldrich, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgb(0,0,0);
    height: 37px;
    padding-top: 12px;
  }
}

@media (min-width: 992px) {
  .d-flex.float-left.m-auto.m-sm-auto {
    font-size: 27px;
    height: 62px;
  }
}

@media (min-width: 300px) {
  .text-uppercase {
    margin-top: -35px;
    color: rgb(249,249,249);
    text-shadow: 0px 0px 8px rgb(0,0,0);
    font-family: Aldrich, sans-serif;
    font-weight: bold;
    height: -12px;
    padding-top: 15px;
  }
}

@media (min-width: 992px) {
  .text-uppercase {
    margin-top: -35px;
    color: rgb(249,249,249);
    text-shadow: 0px 0px 8px rgb(0,0,0);
    font-family: Aldrich, sans-serif;
    font-weight: bold;
    height: -12px;
    padding-top: 12px;
  }
}

@media (min-width: 900px) {
  .btn.btn-primary.d-flex.justify-content-xl-center.align-items-xl-center {
    border-radius: 57px;
    background: rgba(255,255,255,0.26);
    color: #9e00ff;
    font-family: Aldrich, sans-serif;
    margin-top: 10px;
    margin-bottom: 4px;
    padding: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0pc;
    border: 3px solid #9e00ff;
    border-right-width: 1px;
    height: 42px;
  }
}

@media (min-width: 1400px) {
  .btn.btn-primary.d-flex.justify-content-xl-center.align-items-xl-center {
    border-radius: 57px;
    color: #9e00ff;
    font-family: Aldrich, sans-serif;
    margin-top: 10px;
    margin-bottom: 4px;
    padding: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 16px;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0pc;
    border: 3px solid #9e00ff;
    border-right-width: 1px;
    height: 42px;
  }
}

.btn.btn-primary.d-flex.justify-content-xl-center.align-items-xl-center {
  border-radius: 57px;
  color: #9e00ff;
  font-family: Aldrich, sans-serif;
  margin-top: 10px;
  margin-bottom: 4px;
  padding: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  width: 100%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0pc;
  border: 3px solid #9e00ff;
  border-right-width: 1px;
  height: 42px;
}

body {
  overflow-x: hidden;
  overflow-y: overlay;
}

.text-center.d-xl-flex {
}

@media (min-width: 300px) {
  .d-flex.float-left.justify-content-center.align-items-center.justify-content-xl-center.align-items-xl-center {
    height: 40px;
    width: 100%;
    background: rgba(255,255,255,0.44);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-bottom: 10px;
    border-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
  }
}

@media (min-width: 1200px) {
  .d-flex.float-left.justify-content-center.align-items-center.justify-content-xl-center.align-items-xl-center {
    height: 40px;
    width: 60%;
    background: rgba(255,255,255,0.44);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-bottom: 10px;
    border-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
  }
}

#myBox {
  display: none;
  background-color: #e6e6e6;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

#my-box {
  bottom: 0;
  background-color: #aa0000;
  padding: 2px;
  position: fixed;
  display: none;
  width: 100%;
  border-width: 21px;
  border-color: #ff0000;
}

@media (min-width: 1200px) {
  .float-right.d-xl-flex {
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,0.57);
    border-radius: 50px;
    position: fixed;
    bottom: 0;
    margin-right: 20px;
    right: 0;
    margin-bottom: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 3px solid #9e00ff;
  }
}

.text-center.d-flex.float-right.d-xl-flex.justify-content-center.justify-content-xl-center.align-items-xl-center {
  font-family: Aldrich, sans-serif;
  font-weight: bold;
  padding: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: px;
  padding-left: px;
  width: 86px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 0px;
}

.menu-container {
  position: relative;
}

.fav-icon {
  position: fixed;
  bottom: 0;
  background-color: rgba(255,255,255,0.55);
  right: 0;
  margin: 20px;
  border: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: 70px;
  width: 1;
  width: 70px;
  border-radius: 50px;
}

.fav-icon img {
  /*width: 113px;*/
  height: 35px;
}

.menu {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 75px;
  display: none;
  margin-right: 10px;
  margin-bottom: 100px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: #333;
}

.fav-icon {
  border-style: solid;
  background: url("../../assets/img/25.png") center / contain, linear-gradient(-38deg, rgba(255,255,255,0.61), rgba(255,255,255,0.39) 18%, rgba(255,255,255,0.11) 38%, rgba(255,255,255,0.12) 52%, white), rgba(255,255,255,0);
  background-blend-mode: soft-light;
  border-width: 3px;
  border-color: #9e00ff;
}

.menu.show {
  opacity: 1;
}

.gallery-item {
  width: calc(25% - 10px);
  margin-bottom: 20px;
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
  height: auto;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 9999;
}

.popup img {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.col {
}

@media (min-width: 1200px) {
  .col-xl-12.offset-xl-0 {
    overflow-y: overlay;
    height: 791px;
    overflow-x: hidden;
  }
}

@media (min-width: 1200px) {
  .text-center.d-flex.float-left.justify-content-xl-center.align-items-xl-center {
    color: rgb(255,255,255);
    font-size: 24px;
    font-family: Aldrich, sans-serif;
    margin-top: 17px;
  }
}

@media (min-width: 300px) {
  .text-center.d-flex.float-left.justify-content-xl-center.align-items-xl-center {
    color: rgb(255,255,255);
    font-size: 24px;
    font-family: Aldrich, sans-serif;
    margin-top: 7px;
  }
}

.text-center.d-fddlex {
}

.text-center.d-flex.d-xl-flex.flex-shrink-1.justify-content-center.align-items-center.justify-content-xl-center {
}

@media (min-width: 300px) {
  .text-center.d-flex.justify-content-center.align-items-center.align-items-xl-end {
    color: rgb(255,255,255);
    font-size: 20px;
    padding-top: 15px;
    text-align: center;
  }
}

.d-flex.d-xl-flex.justify-content-center.justify-content-xl-center.align-items-xl-start {
  height: 61px;
  width: 283px;
  border-width: 68px;
  border-radius: 28px;
  margin-left: -20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-top: -0px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

@media (min-width: 300px) {
  .d-flex.d-xl-flex.justify-content-center.align-items-center.mx-auto.justify-content-xl-center.align-items-xl-center {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1px;
    color: #9e00ff;
    text-align: left;
    background: rgba(255,255,255,0.26);
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .d-flex.d-xl-flex.justify-content-center.align-items-center.mx-auto.justify-content-xl-center.align-items-xl-center {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1px;
    color: #9e00ff;
    text-align: left;
    background: rgba(255,255,255,0.26);
    width: 93%;
  }
}

@media (min-width: 300px) {
  .d-flex.d-xl-flex.justify-content-center.align-items-center.justify-content-xl-center {
    width: 100%;
    height: 50px;
    border-radius: 62px;
    border: 5px solid #9e00ff;
    margin-bottom: 5px;
  }
}

.card-header:first-child {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*width: 72vw;*/
  /*height: 36vh;*/
  box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126), 0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224), 0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /*transition: 0.5s ease;*/
}

@media (min-width: 300px) {
  header {
    border: 1px none #9e00ff;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-radius: 100px;
    background: rgba(255,255,255,0.65);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding-right: 25px;
    padding-left: 25px;
    width: 100%;
  }
}

.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0px;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  /*text-align: center;*/
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  /*border-radius: var(--bs-btn-border-radius);*/
  background-color: var(--bs-btn-bg);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
  color: #9e00ff;
  background-color: rgba(255,255,255,0.48);
  /*border-color: var(--bs-btn-hover-border-color);*/
}

