.d-flex.float-left.m-auto.m-sm-auto {
}

@media (min-width: 300px) {
  .d-flex.float-left.m-auto.m-sm-auto {
    color: rgb(252,252,252);
    font-family: Aldrich, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgb(0,0,0);
    height: 37px;
    padding-top: 12px;
  }
}

@media (min-width: 992px) {
  .d-flex.float-left.m-auto.m-sm-auto {
    font-size: 27px;
    height: 62px;
    padding-top: 5px;
  }
}

@media (min-width: 300px) {
  .text-uppercase {
    margin-top: -35px;
    color: rgb(249,249,249);
    text-shadow: 0px 0px 8px rgb(0,0,0);
    font-family: Aldrich, sans-serif;
    font-weight: bold;
    height: -12px;
    padding-top: 15px;
  }
}

@media (min-width: 992px) {
  .text-uppercase {
    margin-top: -35px;
    color: rgb(249,249,249);
    text-shadow: 0px 0px 8px rgb(0,0,0);
    font-family: Aldrich, sans-serif;
    font-weight: bold;
    height: -12px;
    padding-top: 12px;
  }
}

@media (min-width: 900px) {
  .btn.btn-primary.d-flex.justify-content-xl-center.align-items-xl-center {
    border-radius: 57px;
    background: rgba(255,255,255,0.26);
    color: #9e00ff;
    font-family: Aldrich, sans-serif;
    margin-top: 10px;
    margin-bottom: 4px;
    padding: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0pc;
    border: 3px solid #9e00ff;
    border-right-width: 1px;
    height: 42px;
  }
}

@media (min-width: 300px) {
  .btn.btn-primary.d-flex.justify-content-xl-center.align-items-xl-center {
    border-radius: 57px;
    background: rgba(255,255,255,0.26);
    color: #9e00ff;
    font-family: Aldrich, sans-serif;
    margin-top: 10px;
    margin-bottom: 4px;
    padding: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0pc;
    border: 3px solid #9e00ff;
    border-right-width: 1px;
    height: 42px;
  }
}

body {
  background: url("../../assets/img/dsadada.png") top / cover no-repeat;
  overflow-x: hidden;
  overflow-y: overlay;
}

.text-center.d-xl-flex {
}

@media (min-width: 300px) {
  .d-flex.float-left.justify-content-center.align-items-center.justify-content-xl-center.align-items-xl-center {
    height: 40px;
    width: 100%;
    background: rgba(255,255,255,0.44);
    backdrop-filter: blur(5px);
    margin-bottom: 10px;
    border-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
  }
}

@media (min-width: 1200px) {
  .d-flex.float-left.justify-content-center.align-items-center.justify-content-xl-center.align-items-xl-center {
    height: 40px;
    width: 60%;
    background: rgba(255,255,255,0.44);
    backdrop-filter: blur(5px);
    margin-bottom: 10px;
    border-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
  }
}

#myBox {
  display: none;
  background-color: #e6e6e6;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

#my-box {
  bottom: 0;
  background-color: #aa0000;
  padding: 2px;
  position: fixed;
  display: none;
  width: 100%;
  border-width: 21px;
  border-color: #ff0000;
}

