@font-face {
	font-family: 'swiper-icons';
	src: url(../../assets/fonts/swiper-icons-d71c82c98ef7ec63bce22fbba0bbab55.woff) format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}