.scrollable-content {
  max-height: 200px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #ddd transparent;
}

/* Webkit (Safari and Chrome) */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 3px;
}

/* Firefox */

.scrollable-content::-moz-scrollbar {
  width: 6px;
}

.scrollable-content::-moz-scrollbar-track {
  background-color: transparent;
}

.scrollable-content::-moz-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 3px;
}

