@media (min-width: 300px) {
  .d-flex.d-xl-flex.justify-content-center.align-items-center.justify-content-xl-center {
    width: 100%;
    height: 50px;
    border-radius: 62px;
    border: 5px solid #9e00ff;
    margin-bottom: 5px;
  }
}

