@font-face {
	font-family: 'VV The Ruby Duo Script Cond Bd';
	src: url(../../assets/fonts/VVTheRubyDuoScript-CondBold.woff2) format('woff2'),
	url(../../assets/fonts/VVTheRubyDuoScript-CondBold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: auto;
}