@font-face {
	font-family: 'VV The Ruby Duo SemiExp';
	src: url(../../assets/fonts/VVTheRubyDuo-SemiExpBlack.woff2) format('woff2'),
	url(../../assets/fonts/VVTheRubyDuo-SemiExpBlack.woff) format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: auto;
}